<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body id="user">
    <header>
        <%- include('./partials/headerTop.ejs') %>
    </header>
    <main class="user_main">
        <h1><%= mensaje %></h1>
        <a href="/">
            <img src="/images/retorno.png" alt="">
        </a>
    </main>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>